# Set up project requirements
# To Run: 'pip install -r requirements.txt'

dotmap==1.2.20
enum34==1.1.6
flake8==3.5.0
kiali-client==0.8.1
openshift
pytest==3.5.1
pytest_jira==0.3.6
pyyaml
selenium==3.12.0
widgetastic.core==0.21.2
python-dateutil
swagger-parser
