kiali_url: http://jdoe:password@${kiali_hostname}
webdriver_options:
    command_executor: http://${selenium_grid_hostname}[:4444]/wd/hub
    desired_capabilities:
        platform: LINUX
        browserName: ${['chrome'|'firefox']}
        unexpectedAlertBehaviour: 'ignore'
oc_cli_options:
    oc_url: https://hostname:8443
    oc_username: username
    oc_password: password
